<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Index Created</title>
</head>
<body class="bg-info">
<div class="col-5  justify-content-center d-flex vh-100 align-items-center mx-auto overflow-hidden">
    <h1 class="text-white">Index Created!</h1>
</div>
</body>
</html>