<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

    <title>Search Engine</title>
</head>
<body class="bg-info overflow-auto">
<nav class="sticky-top bg-light  border-bottom border-dark overflow-hidden">
    <div class="d-flex justify-content-center pr-3 pl-3 w-100 overflow-hidden">
        <form id="form" class="w-100">
            <div class="form-row">
                <div class="col pt-3 pl-3 pr-3">
                    <label for="query">Query</label>
                    <input class="form-control" type="text" name="query" id="query" th:value="${query}"  placeholder="String query" aria-label="Search">
                </div>
                <div class="col pt-3 pl-3 pr-3">
                    <label for="hashtags">Hashtags</label>
                    <input class="form-control" type="text" name="hashtags" id="hashtags" th:value="${hashtags}"  placeholder="Separated by commas" aria-label="Search">
                </div>
                <div class="col pt-3 pl-3 pr-3">
                    <label for="mentions">Mentions</label>
                    <input class="form-control" type="text" name="mentions" id="mentions" th:value="${mentions}"  placeholder="Separated by commas" aria-label="Search">
                </div>
            </div>
            <div class="form-row">
                <div class="col-2 pt-3 pl-3 pr-3 d-flex justify-content-center align-items-center">
                    <b>Advanced search</b>
                </div>
                <div class="col-3 pt-3 pl-3 pr-3 d-flex justify-content-center align-items-center">
                    <div class="custom-control custom-switch mx-auto">
                        <input type="checkbox" name="synonyms" th:checked="${synonyms}" class="custom-control-input" id="synonyms">
                        <label class="custom-control-label" for="synonyms">Synonyms</label>
                    </div>
                    <div class="custom-control custom-switch mx-auto">
                        <input type="checkbox" name="self" th:checked="${self}" class="custom-control-input" checked id="self">
                        <label class="custom-control-label" for="self">Self</label>
                    </div>
                </div>
                <div class="col-3 pt-3 pl-3 pr-3 d-flex justify-content-center align-items-center">
                    <div class="col-4 text-center">
                        <label for="personalization">User</label>
                    </div>
                    <div class="col-8 p-0">
                        <select class="custom-select" id="personalization" name="selected">
                            <option th:each="i : ${users}" th:value="${i.id}" th:text="${i.name}" th:selected="${i.selected}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-2 pt-3 pl-3 pr-3 d-flex justify-content-center align-items-center">
                    <label for="fromDate">From</label>
                    <input data-date-format="dd/mm/yyyy" id="fromDate" name="fromDate" class="ml-2" style="width: 100px;" th:value="${fromDate}">
                </div>
                <div class="col-2 pt-3 pl-3 pr-3 d-flex justify-content-center align-items-center">
                    <label for="toDate">To</label>
                    <input data-date-format="dd/mm/yyyy" id="toDate" name="toDate" class="ml-2" style="width: 100px;" th:value="${toDate}">
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 pt-3 pl-3 pr-3 d-flex justify-content-center align-items-center">
                    <input type="button" class="btn btn-info flex-fill ml-2" value="Search" id="search">
                    <input class="btn btn-danger flex-fill ml-2 mr-2" type="button" name="reset" value="Reset" id="reset">
                </div>
            </div>
        </form>
    </div>
    <div class="bg-light d-flex p-2 align-items-center">
        <div class="col-2 text-center">
            <b>Top Hashtags</b>
        </div>
        <div class="col-10 d-flex  overflow-auto">
            <div th:each="hashtag: ${topHashtags}" class=" p-1 bg-info text-white border border-dark rounded mr-2">
                <span th:text="${hashtag}" class="font-weight-bold"></span>
            </div>
        </div>
    </div>
    <div class="bg-light d-flex p-2 align-items-center">
        <div class="col-2 text-center">
            <b>Top Mentions</b>
        </div>
        <div class="col-10 d-flex  overflow-auto">
            <div th:each="mention: ${topMentions}" class=" p-1 bg-info text-white border border-dark rounded mr-2">
                <span th:text="${mention}" class="font-weight-bold"></span>
            </div>
        </div>
    </div>
</nav>
<div class="position-fixed bg-info">
</div>
<div class="container-fluid justify-content-center pt-3 bg-info  overflow-auto ">
    <div th:each="hit, index: ${hits}" class="mx-auto p-3 col-6 bg-light border border-dark rounded m-2">
        <div class="border border-dark rounded p-2 mb-2">
            <span class="font-weight-bold">Position</span>
            <span th:text="${index.index + 1}"></span>
            <span class="font-weight-bold">&nbsp;&nbsp;&nbsp;Score</span>
            <span th:text="${#numbers.formatDecimal(hit.score, 0, 'COMMA', 2, 'POINT')}"></span><br>
        </div>
        <div class="border border-dark rounded p-2 mb-2">
            <span th:text="${hit.user.name}" class="font-weight-bold"></span><br>
            <span th:text="'@' + ${hit.user.screenName}"></span>
            <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-MM-dd''T''HH:mm:ss')}">
                <span th:text="${#dates.format(sdf.parse(hit.created_at), 'dd-MM-yyyy')}"></span>
            </th:block>
        </div>
        <div class="p-1 mb-2">
            <p th:text="${hit.text}" class="text-justify"></p>
        </div>
    </div>
</div>
</body>
</html>
<script>

    $(document).ready(function() {


        const personalization = $('#personalization');
        const self = $("#self");
        const search = $("#search");
        const synonyms = $("#synonyms");
        const reset = $("#reset");
        const form = $("#form");
        const fromDate = $('#fromDate');
        const toDate = $('#toDate');


        fromDate.datepicker({
            weekStart: 1,
            daysOfWeekHighlighted: "6,0",
            autoclose: true,
            todayHighlight: true,
        });
        fromDate.datepicker("update", new Date(fromDate.val()));


        toDate.datepicker({
            weekStart: 1,
            daysOfWeekHighlighted: "6,0",
            autoclose: true,
            todayHighlight: true,
        });
        toDate.datepicker("update", new Date(toDate.val()));


        if (!(personalization.val() === String("empty").valueOf())) {
            self.attr('disabled', false);
        } else {
            self.attr('checked', true);
            self.attr('disabled', true);
        }

        search.click(function() {
            submitForm();
        });

        personalization.change(function() {
            if (personalization.val() === String("empty").valueOf()) {
                self.attr('checked', true);
                self.attr('disabled', true);
            } else {
                self.attr('disabled', false);
            }
            submitForm();
        });

        self.change(function() {
            submitForm();
        });

        synonyms.change(function() {
            submitForm();
        });

        reset.click(function() {
            $("#query").val("");
            $("#hashtags").val("");
            $("#mentions").val("");
            toDate.datepicker("update", '');
            fromDate.datepicker("update", '');
        });


        form.keypress((e) => {
            if (e.which === 13) {
                submitForm();
            }
        });


    });

    function submitForm()
    {
        $("#self").attr('disabled', false);
        $("#form").submit();
    }

</script>
